.indexCard-wrapper{
    height: 50%;
    color: rgba(239, 226, 202, 0.896);
    background-color: rgba(48, 35, 35, 0.567); 
    border: 1px solid rgba(128, 128, 128, 0.627);
   display: flex;
   align-items: center;
   justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.25rem;
}
.index-name{
    font-weight: 600;
    font-size: 1rem;
}

.index-change{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

} 
.index-name{
    padding-left: 1rem;
    font-size: 1.25rem;
}
 .index-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.507);
    height: 50%;
    /* border: 1px solid rgba(255, 255, 255, 0.589); */
    border-left: 1px solid greenyellow;
    overflow: hidden;
    /* border-radius: 10px; */
    padding: 15px;
    margin-right: 1rem;
    padding-right: 20px;
    padding-left: 5px;
 }
 .index-details div {
    margin-left: 1rem;
    text-align: center;
 }
.up {
    color: rgba(0, 128, 0, 0.826);
}

.down {
    color: rgba(255, 0, 0, 0.738);
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .indexCard-wrapper{
        font-size: 1rem;
    }
    .index-name{
        font-weight: 500;
        font-size: 1rem;
    }
    .index-details{
      
        margin-right: 5px;
        overflow: scroll;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        height: 60%;
   
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .indexCard-wrapper{
        font-size: 0.9rem;
    }
    .index-name{
        font-weight: 400;
        padding-left: 7px;
        padding-right: 7px;
        
    }
    .indicesData-wrapper{
        margin-left: 10px;
    }
    .index-details{
        width: 90%;
        height: 70%;
    }
    
.indice-left {
    width: 45%;
    height: 90%;
  }
  .indice-right {
    width: 45%;
    height: 90%;
    margin-left: 1rem;
  }
  }