*{
  padding: 0%;
  margin: 0%;
}
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing:border-box;
  font-family: poppins ,san-serif;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}



::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #000000; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(21, 127, 78, 0.616); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:  rgba(21, 127, 78, 0.616); 
}

/* Works for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color :rgba(21, 127, 78, 0.616) #000000;
}




/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}