.newsCard-wrapper{
    background-color: black;
    width: 100%;
    height:auto;
    border: 1px solid white;
}
.newsCard-title{
    text-align: start;
    padding: 10px;
}
.newsCard-description{
    text-align: start;
    padding: 10px;
    color: greenyellow;
    border-top: 1px solid wheat;
}
.newsCard-date-source{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 5px;
    border-top: 1px solid wheat;
    font-size: 15px;
}