.newsCard-wrapper{
    width: 90%;
    height:auto;
    border-radius: 1rem;
    margin-top: 1.5rem;
    padding: 10px;
    border: 2px solid rgba(128, 128, 128, 0.552);
    color: rgba(239, 226, 202, 0.896);
    background-color: rgba(48, 35, 35, 0.567); 
    font-size: 1.25rem;
}
.newsCard-title{
    text-align: start;
    color: greenyellow;
    padding: 10px;
    border-radius: 10px;
}
.newsCard-description{
    text-align: start;
    padding: 10px;
}
.newsCard-date-source{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgba(128, 128, 128, 0.499);
    border-radius: 1rem;
}