.newsCard-wrapper{
    width: 90%;
    height: auto;
    border-radius: 1rem;
    margin-top: 1.5rem;
    padding: 10px;
    border: 2px solid rgba(128, 128, 128, 0.552);
    color: rgba(239, 226, 202, 0.896);
    background-color: rgba(48, 35, 35, 0.567); 
    font-size: 1.25rem;
}

.newsCard-title{
    text-align: start;
    color: greenyellow;
    padding: 10px;
    border-radius: 10px;
}

.newsCard-description{
    text-align: start;
    padding: 10px;
}

.newsCard-date-source{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    font-size: 15px;
    border: 1px solid rgba(128, 128, 128, 0.499);
    border-radius: 1rem;
}


/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    .newsCard-wrapper {
        width: 280px;
        margin-top: 0;
        margin-right: 15px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        flex-grow: 1;
    }
    
    .newsCard-title {
        font-size: 1.1rem;
        padding: 8px;
    }
    
    .newsCard-description {
        padding: 8px;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
    .newsCard-date-source {
        font-size: 12px;
        padding: 4px;
        margin-top: 5px;
        flex-direction: column;
    }
    
    .newsCard-source, .newsCard-date {
        padding: 2px;
    }
    
    .newsSection-container {
        width: 100%;      
        padding: 10px 5px;
        margin-bottom: 1rem;
    }
    
    .newsData {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
      align-items: stretch;
      width: 100%;
      padding: 10px 0;
      min-height: 300px; /* Change height to min-height */
        mask-image: linear-gradient(
            to right,
            transparent,
            black 5%,
            black 95%,
            transparent
        );
        -webkit-mask-image: linear-gradient(
            to right,
            transparent,
            black 5%,
            black 95%,
            transparent
        );
    }

  }
  

  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .newsCard-wrapper {
        width: 230px;
        font-size: 0.9rem;
        height: 280px;
      
    }
    
    .newsCard-title {
        font-size: 1rem;
        padding: 6px;
    }
  
  }