.navbar-container{
padding: 5px;
height: 2.8rem;
/* background-color: rgba(14, 183, 104, 0.436); */
background-color: #203d27;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 2rem;
max-width:100%;
}
.navbar-title{
    color: rgb(179, 255, 66);
}
.navbar-options{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo-div{
    display: flex;
    cursor: pointer;
}
.navbar-logo{
    width: 45px;
}
.navbar-options button{
margin-right: 1rem;
}
.navbar-options button span{
    padding-left: 5px;
}
.round-buttons{
display: flex;
align-items: center;
padding: 5px;
font-family: poppins;
color: white;
font-weight: 500;
font-size: 1.2rem;
text-align: center;
border: 1px solid rgba(255, 255, 255, 0.527);
border-radius: 1rem;
padding: 3px 15px;
background-color: rgba(0, 0, 0, 0.351);
cursor: pointer;

}

.navbar_user_pic {
    width: 2rem;
    border-radius: 50%;
    opacity: 1;
    margin-right: 0.5rem;
  }
   
   .navbar-user{
    display: flex;
    align-items: center;
    padding: 2px;
    background:  rgba(48, 35, 35, 0.567);
    margin-right: 1rem;
    border-right: 2px solid greenyellow;
   }
   .navbar-user h1{
    font-size: 1.6rem;
    font-weight: 350;
    font-family: monospace;
   }

   
/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
  
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}
/* .navbar-user{
    margin-right: 4rem;
} */
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .navbar-user{
        display: none;
    }
  }